[
    {
        "AllowedHeaders": [
            "*"
        ],
        "AllowedMethods": [
            "PUT",
            "POST",
            "DELETE",
            "GET"
        ],
        "AllowedOrigins": [
            "http://localhost:5173",
            "https://evently.adityachoudhury.com"
        ],
        "ExposeHeaders": []
    }
]
